body{
    margin-inline: 0 ;
    padding: 0;

}
.flex-container{
    display: flex;
    width: 70%;
    max-width: 60rem;
    border: 5px solid #000;
    padding: 2em;
}
.flex-item{
    margin: 0.5em;
    border: 0.2em solid #aaa;
    background-color: black;
    color: white;
    padding: 0.5em;
    width: 100%;

    &:nth-child(3){
        height: 5000px;
    }
}